* {
	font-size: 14px;
	font-family: CaskaydiaCove Nerd Font;
}

window#waybar {
	background: #282828;
	color: #ebdbb2;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1d2021;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #282828;
	background: #1d2021;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1d2021;
}

#workspaces button {
	padding: 0;
	color: #fbf1c7;
}
#workspaces button.focused {
  color: #ebdbb2;
	background: #d65d0e;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
  color: #ebdbb2;
	background: #1d2021;
	border: #1d2021;
	padding: 0 3px;
}

#pulseaudio {
	color: #83a598;
}
#memory {
	color: #689d6a;
}
#cpu {
	color: #d3869b;
}
#battery {
	color: #b8bb26;
}
#disk {
	color: #fabd2f;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
